---
layout: single
author_profile: true
---

{% include base_path %}

<h1>Hello! My name is Patrick.</h1>
<img src="{{ site.url }}{{ site.baseurl }}/images/bio-original-optimized.jpg" alt="This is what I look like" style="padding: 2% 10% 5% 0%;" >
<p>As someone who like to try new things, I have gone through a varied but related work through out the years. I have been a software developer, a freelancer, a big-4 financial consultant, and now currently an actuary.</p>
<p>Although my experiences were rather diverse,
they all lead up to this goal:<br/><b>helping people and business make better decisions, with data and technology.</b></p>

<p>In my free time, I like to learn new languages (currently japanese), do some coding,
play some music on my piano and window-shopping for new
<a href= "https://www.reddit.com/r/gadgets" title="gadget">gadgets</a> and
<a href= "https://www.reddit.com/r/headphones" title="audio gear">audio gear.</a></p>
<p>For more information, you can:</p>
<ul>
<li>see my resume on <a href="https://www.linkedin.com/in/piyawat-patrick-suwanvithaya-149a888">linkedin.</a> For PDF version (Eng or JP), <a href="http://www.google.com/recaptcha/mailhide/d?k=01_1BtuvjvLNfZCivIT9IqaA==&amp;c=vzuzr81TGHwFTKNHR2G7dzhPzLTrWDrwsS7008UlPd0=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01_1BtuvjvLNfZCivIT9IqaA\x3d\x3d\x26c\x3dvzuzr81TGHwFTKNHR2G7dzhPzLTrWDrwsS7008UlPd0\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">please let me know</a>.</li>
<li>see my <a href="/blog/" title="blog and projects">blog/projects.</a></li>
<li>or drop me <a href="http://www.google.com/recaptcha/mailhide/d?k=01_1BtuvjvLNfZCivIT9IqaA==&amp;c=vzuzr81TGHwFTKNHR2G7dzhPzLTrWDrwsS7008UlPd0=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01_1BtuvjvLNfZCivIT9IqaA\x3d\x3d\x26c\x3dvzuzr81TGHwFTKNHR2G7dzhPzLTrWDrwsS7008UlPd0\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">an email.</a> (recaptcha-ed to prevent spam)</li>
</ul>
<p>I'm always open to interesting projects and opportunities, so drop me a line!</p>
<p></p>


{% include paginator.html %}
