<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>website - {{ title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
    </head>
    <main>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/">My Website</a>
            </div>
            <div id="navigation">
                <a href="/">Home</a>
                <a href="/archive.html">Writing</a>
                <a href="/experiments.html">Experiments</a>
                <a href="/contact.html">Contact</a>
            </div>
        </div>

        <div id="content">
            <h1>{{ title }}</h1>

            {{ body|safe }}
        </div>
        <div id="footer">
            <a href="#header">↑ Back to top</a>
        </div>

    <!-- MathJax is library for displaying math nicely -->
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>

    </body>
    </main>
</html>
